*{
    font-family: sans-serif;
    color:white;
    scroll-behavior: smooth;
    
}
html{
    background-color: rgb(24,25,26);
    
}

.container{
    background-color: rgb(24,25,26);
    width: 100%;
    display: grid;
    grid-template-columns:1fr 3fr 1fr ;
    grid-template-rows: 60px 2520px;

}
.header{
    background-color: rgb(36,37,38);
    grid-area:1/1/2/4 ;
    display: grid;
    grid-template-columns:30px 1fr 3fr 1fr ;
    grid-template-rows: 30px;
    align-items: center;
    padding-left: 10px;
    align-content: center;
    border-bottom: 1px solid rgb(106,108,111);
}
.logo{
    grid-area: 1/1/2/2;
}
.logo img{
    height: 35px;
}
.header input{
    grid-area: 1/2/2/3;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(58,59,60);
    border: 1px solid rgb(58,59,60);
    align-content: center;
    padding-left: 10px;
    margin-left: 10px;
    height: 30px;
    font-weight: bold;
}
.header input ::placeholder{
    color: rgb(255, 255, 255);
}

.nav {
    grid-area: 1/3/2/4;
    text-align: center;    

    
    
}
.nav ul{
    list-style: none;

}
.nav li{
    display: inline;
    padding-right: 15%;    
    color: rgb(106,108,111);
}
.nav2{
    grid-area: 1/4/2/5;
}
.nav2 ul{
    list-style: none;
}
.nav2 li{
    display: inline;
    padding-right: 15%;
    color: rgb(106,108,111);
}
.aside{
    grid-area: 2/1/4/2;
    /* background-color: rgb(70, 70, 70); */
    padding: 15%;
    line-height: 45px;
}
.aside :hover{
        background-color: rgb(58,59,60);
        transition: 0.4s;
        border-radius: 5px;
        letter-spacing:5px;

}
.aside div{
    padding-left: 10px;
}
.main{
    grid-area: 2/2/4/3;
    width: 75%;
    margin-left: 10%;
    display: grid;
    grid-template-rows:300px 220px 500px 500px 500px 500px ;
    grid-gap: 10px;
}
.main .story{
    grid-area: 1/1/2/2;
    margin-top: 1.5%;
    display: grid;
    grid-gap: 8px;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-rows:290px;
    
}
.main .story div{
    background-color: rgb(39,40,41);
    border-radius: 10px;
}
.main .start{
    grid-area: 2/1/3/2;
    background-color: rgb(39,40,41);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.main .start .photo{
    grid-area: 1/1/2/2;
}
.main .start .search{
    grid-area: 1/2/2/4;
    justify-self: start;
}
.main .start .search input{
    width: 575px;
    height: 50px;
    margin-top: 20px;
    border-radius: 25px;
    background-color: rgb(58,59,60);
    border: 1px solid rgb(58,59,60);

}
.main .start .hr{
    grid-area: 2/1/3/4;
    justify-self: stretch;
    padding: 10px;
}
.main .start .photo{
    grid-area: 1/1/2/2;
}
.main .start .photo{
    grid-area: 1/1/2/2;
}
.main .start .photo{
    grid-area: 1/1/2/2;
}
.main .post1{
    background-color: rgb(39,40,41);
    border-radius: 10px;
}
.main .post2{
    background-color: rgb(39,40,41);
    border-radius: 10px;
}
.main .post3{
    background-color: rgb(39,40,41);
    border-radius: 10px;
}
.main .post4{
    background-color: rgb(39,40,41);
    border-radius: 10px;
}

.b_aside{
    grid-area: 2/3/4/4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:2% 13% 5% 80%;
    padding-top: 1.5%;
    /* background-color: rgb(70, 70, 70); */

}
.b_aside ul{
    list-style: none;
}
.b_aside .title{
    grid-area: 1/1/2/2;
    align-content: center;

}
.b_aside .pages{
    grid-area: 2/1/3/2;
    line-height: 20px;
}
.b_aside .birthday{
    grid-area: 3/1/4/2;
    font-size: 18px;
}
.b_aside .contacts{
    grid-area: 4/1/5/2;
    list-style: none;
}
.b_aside .contacts ul{
    list-style: none;
    line-height: 50px;
    font-size: 28px;
}

